@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container {
  backdrop-filter: blur(19px) saturate(180%);
}
